p {
	color: black;
	background: #FFFFE0;
	font-style: bold;
	font-style: italic;
	font-size: medium;
	text-align: center;
	}
h1	{
	text-align: center;
	text-shadow: 10px 2px 5px 	#7FFFD4;
	font-style: bold;
	color: red;
	font-size: 32px;
	}
ol	{
	color: blue;
	text-align: center;
	}
ul	{
	color: green;
	text-align: center;
	}
h2	{
	text-align: center;
	font-style: bold;
	color: red;
	font-size: 32px;
	}
.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: black
			color: white;
			text-align: center;
			}